name: release-tag

on:
  repository_dispatch:
    types: [ metanorma/mn2pdf ]

jobs:
  tag_repo:
    runs-on: ubuntu-18.04
    if: startsWith(github.event.client_payload.ref, 'refs/tags/v')
    steps:
      - uses: actions/checkout@v1
      - name: Add writable remote
        run: |
          git remote add github "https://$GITHUB_ACTOR:$GITHUB_TOKEN@github.com/$GITHUB_REPOSITORY.git"
          git pull github ${GITHUB_REF} --ff-only
      - name: Parse mn2pdf version
        env:
          MN2PDF_TAG: ${{ github.event.client_payload.ref }}
        run: |
          echo "::set-env name=MN2PDF_VERSION::${MN2PDF_TAG#*/v}"
      - name: Use Ruby
        uses: actions/setup-ruby@v1
        with:
          ruby-version: '2.6'
          architecture: 'x64'
      - name: Update version
        run: |
          gem install gem-release
          gem bump ${MN2PDF_VERSION}
      - name: Update mn2pdf.jar
        run: |
          rm -f bin/mn2pdf.jar
          rake bin/mn2pdf.jar
      - name: Update gems
        run: |
          gem install bundler
          bundle install --jobs 4 --retry 3
      - name: Run specs
        run: |
          bundle exec rake
      - name: Push commit and tag
        run: |
          git tag v${MN2PDF_VERSION}
          git push github HEAD:${GITHUB_REF} --tags
